{%extends 'bases/base.html'%} {%block content%}
<!-- <h1 class="mt-36">Verify Your Email</h1> -->
<section
  class="max-md:w-11/12 mt-36 max-md:mt-28 border text-sm border-neutral-300 max-md:p-5 w-3/5 mx-auto p-10 flex flex-col items-center text-center rounded-md"
>
  <h1 class="text-2xl font-semibold">Create Subscription</h1>

  <form
    action=""
    method="post"
    class="flex flex-col gap-5 mt-5 subform w-1/2 max-md:w-full text-xs"
    @submit="createSubscription"
  >
    {%csrf_token%}
    <p class="text-base font-medium">Select your account subscription plan</p>
    <div class="*:px-5 [&>*]:rounded-md flex flex-col gap-4 *:border-dark">
      <div
        class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
      >
        <input
          id="bordered-radio-1"
          type="radio"
          value="starter"
          name="bordered-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="bordered-radio-1"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Starter ($500)/mo</label
        >
      </div>
      <div
        class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
      >
        <input
          checked
          id="bordered-radio-3"
          type="radio"
          value="pro"
          name="bordered-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="bordered-radio-3"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Pro ($1500)/mo</label
        >
      </div>
      <div
        class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
      >
        <input
          checked
          id="bordered-radio-2"
          type="radio"
          value="superior"
          name="bordered-radio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="bordered-radio-2"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Superior ($2500)/mo</label
        >
      </div>
    </div>
    <label for="" class="text-base font-medium">Upload Payment Proof</label>
    <fieldset>
      <input
        type="file"
        name="image"
        inputmode="numeric"
        id=""
        class="p-3 focus:outline-0 rounded-md border border-neutral-700 w-full"
        maxlength="6"
        required
      />
    </fieldset>
    <button class="text-white bg-dark px-5 py-5 rounded-full">Subscribe</button>
  </form>
</section>

{%endblock content%}
