<section class="mt-10 text-sm">
  <h1
    class="text-xl font-semibold items-center mb-5 flex justify-between dark:text-gray-200"
  >
    Recent Promotions
    <!-- <a class="text-sm font-normal flex items-center gap-1" href=""
      >See All<ion-icon name="arrow-forward-outline" class="text-lg"></ion-icon
    ></a> -->
  </h1>

  <!-- product lists container -->
  <div class="grid grid-cols-4 max-md:grid-cols-1 gap-10">
    <!-- product list item -->
    <template x-for="num in [1,2,3,4,5,6]">
      <div
        class="flex flex-col text-center items-center gap-4 border p-5 rounded-xl justify-between"
      >
          <img
            src="https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="product_image"
            class="h-28 self-center rounded-xl bg-black object-cover"
          />

        <div class="flex flex-col">
          <p class="text-base font-medium">Product Name</p>
          <p class="text-base font-semibold text-main">$20.00</p>
          <p>product_link_shortened_here</p>
        </div>

        <div class="flex gap-5">
          <button
            class="rounded-full dark:border-gray-700 text-neutral-400 flex items-center justify-center gap-2"
          >
            <ion-icon name="eye" class="text-base"></ion-icon>
            400
          </button>
          <button
            class="flex items-center text-neutral-400 justify-center gap-2 rounded-full"
          >
            <ion-icon name="card-outline" class="text-base"></ion-icon>
            $0.4
          </button>
        </div>
      </div>
    </template>
  </div>
</section>
