{%load static%}

<section class=" max-md:w-full px-20 max-md:px-5 flex justify-center gap-10 items-center max-md:text-center max-md:flex-col  relative my-32 mx-auto  ">
<div class="flex flex-col">
    <p class="text-main text-lg font-semibold">Partner with us</p>
    <h1 class="text-4xl py-4 w-1/2 max-md:w-full font-medium">Earn By Joining Our Affiliate Network</h1>
    <p class="w-4/5 max-sm:w-full">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum deleniti beatae quidem est? Qui eligendi vero deserunt voluptates. Maiores!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem nostrum deleniti beatae quidem est? Qui eligendi vero deserunt voluptates. Maiores!
    </p>
    <a href="" class="p-5 mt-5 bg-black text-accent  rounded-full self-start">Learn More</a>

</div>

<img src="{%static 'image/step4.jpg'%}" class="h-80 w-full max-md:w-full  object-cover rounded-xl" alt="affiliate-programe-image">


</section>
