{%load static%}
<section
  class="flex mt-48 lg:mt-36 bg-white text-stone-900 flex-col pb-10 gap-5 justify-center text-center max-md:text-sm items-center"
>
  <h1
    class="text-7xl w-1/2 max-md:w-full max-md:text-5xl font-semibold relative"
  >
    <span class="">
      Connect your <span class="text-main">products</span> to the right
      <span class="text-main">audience</span>
    </span>
  </h1>
  <p class="w-1/2 max-md:w-full">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur id ex
    aperiam. Quidem ipsam laudantium architecto illum eaque doloremque
    blanditiis?
  </p>
  <!-- button group -->
  <div class="flex justify-center max-md:px-5 gap-5 w-full">
    <a
      href="{%url 'register'%}"
      class="bg-dark flex justify-center items-center gap-2 max-md:w-4/5 text-accent p-5 max-md:p-4 max-md:text-sm max-md:font-normal rounded-full"
      >Join our platform
    </a>
    <a
      href=""
      class="bg-accent flex justify-center items-center gap-2 max-md:w-4/5 text-stone-900 p-5 max-md:p-4 max-md:text-sm max-md:font-normal rounded-full"
    >
      <ion-icon name="storefront" class="text-xl"></ion-icon> Our Market
    </a>
  </div>

  <!-- star rating section -->
  <div class="mt-10 max-md:mt-20 flex flex-col items-center gap-5">
    <!-- star group -->
    <span class="text-xl text-main flex gap-3">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
    </span>
    <!-- rating image -->
    <div
      class="[&>*]:h-[70px] [&>*]:w-[70px] max-md:[&>*]:h-[50px] max-md:[&>*]:w-[50px] [&>*]:object-cover flex [&>*]:rounded-full []"
    >
      <img src="{%static 'image/rating1.jpg'%}" alt="" />
      <img src="{%static 'image/rating2.png'%}" class="bg-accent" alt="" />
      <img src="{%static 'image/rating3.jpg'%}" alt="" />
      <img src="{%static 'image/rating4.jpg'%}" alt="" />
      <img src="{%static 'image/rating5.jpg'%}" alt="" />
    </div>
    <span class="w-1/2"
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia,
      nobis?</span
    >
  </div>
  <!-- image holder -->
  <div class="relative">
    <!-- blob -->
  </div>
</section>
