{%load static%}

<section class="w-3/5 max-md:w-full   relative my-20 mx-auto  ">
    <div class="rounded-2xl bg-black max-md:flex-col-reverse  backdrop-blur-lg items-center justify-center gap-16 backdrop-filter bg-opacity-5 p-10 flex ">
       <div>
         <h1 class="text-5xl pb-4 text-main font-semibold">Free Digital Marketing Course</h1>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel animi minima saepe soluta ratione. Sit dolor commodi odit culpa, officiis, facere, deleniti et doloribus accusantium consequuntur adipisci fugit atque corporis!</p>

         <a href="" class="p-5 rounded-full bg-black text-white mt-5 gap-4 items-start w-1/2 max-md:w-3/4 flex justify-center" >
            Get Free Course
            <ion-icon name="arrow-down" class="text-lg"></ion-icon>
         </a>

       </div>
       <img src="{%static 'image/course.png'%}" class=" object-cover max-md:h-[300px] w-full" alt="Free_course_social_marketing">

    </div>

    <!-- blob div 1 -->
    <div class="bg-blue-100 blur-[80px] rounded-full w-80 opacity-70 z-[-2] absolute -top-5 left-0  h-80 "></div>
</section>
